# Eclipse project files
/.buildpath
/.project
/.settings

# CodeIgniter system files
/system/
/index.php

# Project temporary files
application/logs/*
!application/logs/index.html
!application/logs/calls
application/logs/calls/*
!application/logs/calls/index.html
/test.php
